.u-section-2 {
    background-image: none;
  }
  .u-section-2 .u-sheet-1 {
    min-height: 1195px;
  }
  .u-section-2 .u-group-1 {
    min-height: 454px;
    margin-top: 60px;
    margin-bottom: 0;
    height: auto;
  }
  .u-section-2 .u-container-layout-1 {
    padding: 30px 40px;
  }
  .u-section-2 .u-icon-1 {
    width: 64px;
    margin: 0 auto;
  }
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 2.77778rem;
    margin: 20px auto 0;
  }
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 20px 0 0;
  }
  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    letter-spacing: 3px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px auto 0;
  }
  .u-section-2 .u-text-3 {
    font-size: 1.11111rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
    margin: 20px auto 0;
  }
  .u-section-2 .u-btn-2 {
    background-image: none;
    border-style: none none solid;
    padding: 0;
  }
  .u-section-2 .u-list-1 {
    margin-top: 64px;
    margin-bottom: 60px;
  }
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 529px;
    grid-auto-columns: calc(25% - 22.5px);
    grid-gap: 30px;
  }
  .u-section-2 .u-list-item-1 {
    background-image: none;
  }
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-2 .u-image-1 {
    height: 198px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-section-2 .u-text-4 {
    font-weight: 400;
    font-size: 1rem;
    margin: 13px auto 0;
  }
  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    margin: 10px auto 0;
  }
  .u-section-2 .u-text-6 {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 11px 0 0;
  }
  .u-section-2 .u-social-icons-1 {
    height: 32px;
    min-height: 16px;
    width: 156px;
    min-width: 108px;
    margin: 25px auto 0;
  }
  .u-section-2 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  .u-section-2 .u-image-2 {
    height: 198px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-section-2 .u-text-7 {
    font-weight: 400;
    font-size: 1rem;
    margin: 13px auto 0;
  }
  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    margin: 10px auto 0;
  }
  .u-section-2 .u-text-9 {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 11px 0 0;
  }
  .u-section-2 .u-social-icons-2 {
    height: 32px;
    min-height: 16px;
    width: 156px;
    min-width: 108px;
    margin: 25px auto 0;
  }
  .u-section-2 .u-icon-5 {
    background-image: none;
  }
  .u-section-2 .u-icon-6 {
    background-image: none;
  }
  .u-section-2 .u-icon-7 {
    background-image: none;
  }
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  .u-section-2 .u-image-3 {
    height: 198px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-section-2 .u-text-10 {
    font-weight: 400;
    font-size: 1rem;
    margin: 13px auto 0;
  }
  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    margin: 10px auto 0;
  }
  .u-section-2 .u-text-12 {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 11px 0 0;
  }
  .u-section-2 .u-social-icons-3 {
    height: 32px;
    min-height: 16px;
    width: 156px;
    min-width: 108px;
    margin: 25px auto 0;
  }
  .u-section-2 .u-icon-8 {
    background-image: none;
  }
  .u-section-2 .u-icon-9 {
    background-image: none;
  }
  .u-section-2 .u-icon-10 {
    background-image: none;
  }
  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }
  .u-section-2 .u-image-4 {
    height: 198px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-section-2 .u-text-13 {
    font-weight: 400;
    font-size: 1rem;
    margin: 13px auto 0;
  }
  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    margin: 10px auto 0;
  }
  .u-section-2 .u-text-15 {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin: 11px 0 0;
  }
  .u-section-2 .u-social-icons-4 {
    height: 32px;
    min-height: 16px;
    width: 156px;
    min-width: 108px;
    margin: 25px auto 0;
  }
  .u-section-2 .u-icon-11 {
    background-image: none;
  }
  .u-section-2 .u-icon-12 {
    background-image: none;
  }
  .u-section-2 .u-icon-13 {
    background-image: none;
  }
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1145px;
    }
    .u-section-2 .u-group-1 {
      margin-top: 35px;
      height: auto;
    }
    .u-section-2 .u-list-1 {
      margin-bottom: 35px;
    }
    .u-section-2 .u-repeater-1 {
      min-height: 436px;
    }
    .u-section-2 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-1 {
      height: 154px;
    }
    .u-section-2 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-2 {
      height: 154px;
    }
    .u-section-2 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-3 {
      height: 154px;
    }
    .u-section-2 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-4 {
      height: 154px;
    }
  }
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1824px;
    }
    .u-section-2 .u-group-1 {
      margin-top: 60px;
    }
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-section-2 .u-list-1 {
      margin-bottom: 60px;
    }
    .u-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 1134px;
      grid-auto-columns: calc(50% - 15px);
    }
    .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-section-2 .u-image-1 {
      height: 253px;
    }
    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-section-2 .u-image-2 {
      height: 253px;
    }
    .u-section-2 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-section-2 .u-image-3 {
      height: 253px;
    }
    .u-section-2 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-section-2 .u-image-4 {
      height: 253px;
    }
  }
  @media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
    .u-section-2 .u-image-1 {
      height: 439px;
    }
    .u-section-2 .u-text-4 {
      font-size: 1.125rem;
    }
    .u-section-2 .u-text-5 {
      font-size: 1.875rem;
    }
    .u-section-2 .u-image-2 {
      height: 439px;
    }
    .u-section-2 .u-text-7 {
      font-size: 1.125rem;
    }
    .u-section-2 .u-text-8 {
      font-size: 1.875rem;
    }
    .u-section-2 .u-image-3 {
      height: 439px;
    }
    .u-section-2 .u-text-10 {
      font-size: 1.125rem;
    }
    .u-section-2 .u-text-11 {
      font-size: 1.875rem;
    }
    .u-section-2 .u-image-4 {
      height: 439px;
    }
    .u-section-2 .u-text-13 {
      font-size: 1.125rem;
    }
    .u-section-2 .u-text-14 {
      font-size: 1.875rem;
    }
  }
  @media (max-width: 575px) {
    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
    .u-section-2 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
    .u-section-2 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-1 {
      height: 274px;
    }
    .u-section-2 .u-text-5 {
      font-size: 1.5rem;
    }
    .u-section-2 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-2 {
      height: 274px;
    }
    .u-section-2 .u-text-8 {
      font-size: 1.5rem;
    }
    .u-section-2 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-3 {
      height: 274px;
    }
    .u-section-2 .u-text-11 {
      font-size: 1.5rem;
    }
    .u-section-2 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-image-4 {
      height: 274px;
    }
    .u-section-2 .u-text-14 {
      font-size: 1.5rem;
    }
  }